<footer id="footer" class="footer">


  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-6 col-md-6 footer-about">
        <a href="index.html" class="d-flex align-items-center">
          <span class="sitename">Xplore Rage</span>
        </a>
        <div class="footer-contact pt-3">
          <!-- <p>A108 Adam Street</p> -->
          <p>Cross River, Calabar 545211</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+234 703 381 3184</span></p>
          <p><strong>Email:</strong> <span>Xplorerage@gmail.com</span></p>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
        </ul>
      </div>

  

      <div class="col-lg-4 col-md-12">
        <h4>Follow Us</h4>
        <p>Follow us on our social media for more updates</p>
        <div class="social-links d-flex">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>

<!-- <footer class="sticky-footer " >
  <div class="container my-auto">
      <div class="copyright text-center my-auto">
          <span>Copyright &copy; adarikumiachael.com 2020</span><br>
          <span class="mt-4">email - adarikumiachael.com 2020</span>
      </div>
  </div>
</footer> 


 -->
