
<div class="row">
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="100">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/1.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="200">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/2.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="300">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/3.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="400">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/4.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="500">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/5.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="600">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/7.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="700">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/8.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="800">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/9.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="900">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/10.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="1000">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/11.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="1000">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/12.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
  
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="1000">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/13.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
  
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="1000">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/14.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
          <div class="col-md-3 mb-4">
  
            <div class="card contender"  data-aos="fade-up" data-aos-delay="1000">
              <div class="user-images">
                <div class="image-gallery">
                  <img src="/img/15.JPG" class="card-img-top" alt="">
                </div>
              </div>
              
            </div>
  
          </div>
  
      </div>