

<%- include('./partials/nav') %>
<div class="page-header">
  <div class=" text-center ">
      <h5 class="text-uppercase">About Us</h5>
  </div>
</div>



    <main class="main">
        <div class="container mt-5">
          <p>Welcome to  your premier online destination for all your grocery and food item needs in Nigeria. At 
             we are committed to providing you with the freshest and highest-quality products, conveniently delivered to your doorstep.
              Serving the bustling cities of Calabar, Lagos, and Uyo, we aim to redefine your shopping experience with our seamless online platform.
              <p>
                Xplore Rage is a leading tourism brand dedicated to providing unparalleled travel experiences for our esteemed clients. 
                Whether you're seeking to explore exotic destinations, unwind on private vacations, or immerse yourself in thrilling adventures, 
                Xplore Rage is here to make your travel dreams a reality.
              </p>
              <p>
                We specialize in organizing trips and tours to breathtaking locations across the globe. 
                From serene beaches to bustling cities, our curated itineraries cater to individuals, groups, and organizations looking for unique travel experiences. 
                Planning a corporate retreat or a family getaway? Let Xplore Rage handle the details for you.
              </p>
              <p>
                In addition to tours and vacations, we offer top-notch car hire services and VIP transportation options, ensuring you travel in comfort and style. 
                Our partnerships with premium hotels guarantee that your accommodation needs are met with the highest standards of luxury and convenience.
              </p>
              <p>
                At Xplore Rage, we believe in creating memories that last a lifetime. Our team of passionate travel experts is committed to delivering exceptional service, 
                ensuring every trip is seamless, enjoyable, and unforgettable. Treat yourself to the adventure of a lifetime with Xplore Rage. 
                Discover the world, one destination at a time, and let us make your journey extraordinary.
              </p>
              
          
          <p><i>The Team</i></p>
        </div>
            

  

    </main>
  
  <%- include ('./partials/footer')%>
  

