<%- include ('./partials/nav') %>
<!-- Hero Section -->

<!-- Hero Section -->
<section id="hero" class="hero text-center">
  <div class="container">

    <!-- Carousel starts -->
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      
      <!-- Carousel Items -->
      <div class="carousel-inner">
        <!-- First Item -->
        <div class="carousel-item active">
          <div class="row align-items-center container">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
             <div class="rounded-container">
              <img src="/img/1.JPG" class="img-fluid " alt="Hero Image">
             </div>
            </div>

            <div class="col-md-6 text-start ">
              <!-- Countdown Timer -->
              <div class="countdown-container">
                <p>next trip loading...</p>
                <h3>IBENO BEACH</h3>
                <P>Weekend gateway</P>
                <div id="countdown19" class="countdown">
                  <span id="days19">00</span>d : 
                  <span id="hours19">00</span>h 
                  <br>
                  <span id="minutes19">00</span>m : 
                  <span id="seconds19">00</span>s
                </div>
                <p>December 19, 2025</p>
                
                <a class="btn btn-secondary mb-3" href="/trip-details">Click to Register </a>

              </div>
              <!-- cd ends -->
            </div>


          </div>
        </div>

        <!-- Second Item -->
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="rounded-container">
                <img src="/img/11.JPG" class="img-fluid " alt="Second Hero Image">

              </div>
            </div>

                <!-- Countdown Timer -->
                <div class="col-md-6 text-start">
                  <div class="countdown-container">
                    <p>next trip loading...</p>
                    <h3>IBENO BEACH</h3>
                    <P>Weekend gateway</P>
          
                          <div id="countdown29" class="countdown">
                            <span id="days29">00</span>d : 
                            <span id="hours29">00</span>h 
                            <br>
                            <span id="minutes29">00</span>m : 
                            <span id="seconds29">00</span>s
                          </div>
                          <p>December 29, 2025</p>

                          <a class="btn btn-secondary mb-3" href="/trip-details">Click to Register </a>
                    </div>
                        <!-- cd ends -->
                </div>

          </div>
        </div>

   



      </div>

      <!-- Carousel Controls positioned at the bottom -->
      <div class="carousel-controls text-center mt-4">
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Carousel ends -->
  </div>
</section>


<!-- HERO ENDS -->

<section id="abouts" class="py-5 bg-light">

  <!-- Section Title -->
  <div class="container section-title mt-2" data-aos="fade-up" data-aos-delay="100">
    <h2>About Us</h2>

  </div>
  <!-- End Section Title -->
   
  <div class="container">
    <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-md-5 col-sm-12  mb-4">
        <div class="image-containnn">
          <img src="/img/about.jpg" class="img-fluid rounded shadow" alt="About Image" data-aos="slide-left"
            data-aos-delay="100">
        </div>
      </div>
      <div class="col-md-7 mt-2">
        <div class="container">

         <p>
            Xplore Rage is leading tourism brand dedicated to providing the best tourism experience for her clients. 
            We organise trips and tours to all over the world.
            We also plan private vacation for individuals, groups and organization/associations.
            For car hire and VIP drops as well hotel we are your best plug.
            Try and give yourself a treat with with Xplore Rage.
<!-- *Check us out on X and Instagram @xplore_rage -->
         </p>
     
        <p>
          We specialize in organizing trips and tours to breathtaking locations across the globe. 
          From serene beaches to bustling cities, our curated itineraries cater to individuals, groups, and organizations looking for unique travel experiences. 
          Planning a corporate retreat or a family getaway? Let Xplore Rage handle the details for you.
        </p>


         <a href="/abouts" class="btn btn-secondary"> Read more</a>
        </div>
      </div>
    </div>    

  </div>
</section>


<section id="trips" class="py-5 bg-light">

  <!-- Section Title -->
  <div class="container section-title mt-2" data-aos="fade-up" data-aos-delay="100">
    <h2>About Next Trip</h2>

  </div>
  <!-- End Section Title -->
   
  <div class="container">
    <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-md-5 col-sm-12  mb-4">
        <div class="image-containnn">
          <img src="/img/ibeno.JPG" class="img-fluid rounded shadow" alt="About Image" data-aos="slide-left"
            data-aos-delay="100">
        </div>
      </div>
      <div class="col-md-7 mt-2">
        <div class="container about-bg">
          <h4 class="primary-color">Ibeno beach</h4>
          <p>
            Located in the serene coastal town of Ibeno in Akwa Ibom State, Nigeria, Ibeno Beach is one of the longest and most beautiful sandy beaches in West Africa. Stretching over 1,200 kilometers along the Atlantic Ocean, it offers breathtaking views, a tranquil atmosphere, and a variety of activities for tourists and locals alike.

            
          </p>
          <h4 class="primary-color">A Natural Wonder</h4>
            <p>
            Ibeno Beach is famed for its pristine white sands, gentle waves, and lush greenery, making it an ideal destination for relaxation and adventure. The beach’s unspoiled environment provides a perfect getaway from the hustle and bustle of city life, allowing visitors to immerse themselves in nature.
          </p>

          <a class="btn btn-success " href="/trip-details" >read more</a>
          <a class="btn btn-success " href="/register-ibeno" >Join Ibeno</a>

        </div>
      </div>
    </div>


    <div class="video-container" style="text-align: center;">
      <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/6-sZjOlwUgA?si=lS-ZBosQAM1VAN9R" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
      </iframe>

      <p>more about the event </p>
    </div>

  </div>
</section>

<footer id="footer" class="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6">
          <h4>Join Our Next trip</h4>
          <p>Our next explore rage is scheduled for 22 <sup>th</sup> December 2025</p>
       
          <a href="/trip-details" class="btn btn-secondary"> Register</a>
        </div>
      </div>
    </div>
  </div>

</footer>


<!-- gallery section -->
<section class="event" id="gallery" class="py-5 bg-light shadow">
  <div class="container section-title mt-2" data-aos="fade-up" data-aos-delay="100">
    
    <h2>Our gallery</h2>

  </div>
  <div class="container">

    

      <%- include('./partials/gallery') %>


  </div>
</section>


<%- include('./partials/contact') %>


    <%- include('./partials/footer') %>

