

<%- include('./partials/openNav') %>
<div class="page-header">
    <div class=" text-center ">
        <h5 class="text-uppercase">Terms of Service</h5>
    </div>
  </div>
        <div class="container mt-1">
            
            <h2 class="mt-4">Introduction</h2>
            <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use our website if you do not agree to all of the terms and conditions stated on this page.</p>
            
            <h2 class="mt-4">Changes to Terms</h2>
            <p>We reserve the right to modify these terms of service at any time. Any changes will be posted on this page, and you are responsible for reviewing these terms periodically. Your continued use of the website after any changes signifies your acceptance of the new terms.</p>
            
            <h2 class="mt-4">Accounts</h2>
            <p>When you create an account with us, you must provide us with information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the terms, which may result in immediate termination of your account.</p>
            
            <h2 class="mt-4">Purchases</h2>
            <p>If you wish to purchase any product or service made available through the website, you may be asked to supply certain information relevant to your purchase, including but not limited to your credit card number, the expiration date of your credit card, your billing address, and your shipping information.</p>
            
            <h2 class="mt-4">Intellectual Property</h2>
            <p>The website and its original content, features, and functionality are and will remain the exclusive property of our company and its licensors. Unauthorized use of our content may violate copyright, trademark, and other laws.</p>
            
            <h2 class="mt-4">Termination</h2>
            <p>We may terminate or suspend your account and bar access to the website immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the terms.</p>
            
            <h2 class="mt-4">Governing Law</h2>
            <p>These terms shall be governed and construed in accordance with the laws of the country in which our company is headquartered, without regard to its conflict of law provisions.</p>
            
        </div>
            
  
  <%- include ('./partials/openFooter')%>
  
    <!-- <div id="preloader"></div> -->
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
